body {
    background-image: linear-gradient(to right, rgb(79, 79, 213),rgb(201, 58, 177)); 
    font-family: Arial, sans-serif; 
    color: white;
    padding: 20px; 
    height: 100vh; 
    margin: 0;
    display: flex; 
    align-items: center; 
    justify-content: center;
    text-align: center; 
}
